.main-content {
  flex: 1;
}

.product-container {
  position: relative;
}

.image-container {
  position: relative;
}

.justify-content-between {
  justify-content: space-between;
}

.thumbnail {
  width: 100%;
  height: 200px;
  -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
  box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.sale-price {
  color: red;
}

.box-element .special-mark {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10px;
}

.product {
  border-radius: 0 0 4px 4px;
}

.search-group {
  display: flex;
  flex-direction: column;
}

.search-input-container {
  display: flex;
  align-items: center;
}

.search-input-container input {
  flex: 1;
  margin-right: 10px;
}

.search-input-container button {
  white-space: nowrap;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 300px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  display: block;
  font-size: 0.9rem;
}

.form-control {
  padding: 0.4rem 0.6rem;
  font-size: 0.9rem;
  width: 100%;
}

#price-slider {
  margin: 0.8rem 0;
  width: 100%;
}

#min-price,
#max-price {
  font-weight: bold;
  font-size: 0.9rem;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.filter-box {
  width: 30%;
}

.filter-box,
.ad-box {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.ad-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #4f868c;
  border: 1px solid #4f868c;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-left: 20px;
  position: relative;
  object-fit: contain;
  overflow: hidden;
}

.ad-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  word-wrap: break-word;
  font-style: italic;
  line-height: 1;
  position: relative;
}

.slide-left {
  animation: slide-in-left 3s forwards;
}

.slide-right {
  animation: slide-in-right 3s forwards;
}

@keyframes slide-in-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes slide-in-right {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.d-flex {
  display: flex;
}
